HydroNumerics/MikeSheTools/Mike11View/HydroNumerics.MikeSheTools.Mike11View/Service References/Logger/LoggerData2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hydroinform.cloudapp.net/LoggerData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" />
  <xs:complexType name="ArrayOfKeyValueOfintint">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintint">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element name="Value" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintint" nillable="true" type="tns:ArrayOfKeyValueOfintint" />
  <xs:complexType name="ArrayOfint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="int" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfint" nillable="true" type="tns:ArrayOfint" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfDataSegmentSpandhpVgHz7">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfDataSegmentSpandhpVgHz7">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" name="Value" nillable="true" type="q1:ArrayOfDataSegmentSpan" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfDataSegmentSpandhpVgHz7" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfDataSegmentSpandhpVgHz7" />
  <xs:complexType name="ArrayOfKeyValueOfintArrayOfKeyValueOfintDataSegmentdhpVgHz7ty7Ep6D1">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintArrayOfKeyValueOfintDataSegmentdhpVgHz7ty7Ep6D1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element name="Value" nillable="true" type="tns:ArrayOfKeyValueOfintDataSegmentdhpVgHz7" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintArrayOfKeyValueOfintDataSegmentdhpVgHz7ty7Ep6D1" nillable="true" type="tns:ArrayOfKeyValueOfintArrayOfKeyValueOfintDataSegmentdhpVgHz7ty7Ep6D1" />
  <xs:complexType name="ArrayOfKeyValueOfintDataSegmentdhpVgHz7">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintDataSegmentdhpVgHz7">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" name="Value" nillable="true" type="q2:DataSegment" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintDataSegmentdhpVgHz7" nillable="true" type="tns:ArrayOfKeyValueOfintDataSegmentdhpVgHz7" />
</xs:schema>