HydroNumerics/JupiterTools/Web/Service References/Select/select.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://jupiter.geus.dk/ws_select.1.1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://jupiter.geus.dk/types" xmlns:impl="http://jupiter.geus.dk/ws_select.1.1" targetNamespace="http://jupiter.geus.dk/ws_select.1.1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jupiter.geus.dk/types">
      <xsd:import namespace="http://jupiter.geus.dk/ws_select.1.1" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ElementError">
        <xsd:sequence>
          <xsd:element name="elementName" nillable="true" type="xsd:string" />
          <xsd:element name="errorMesage" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DataRecord">
        <xsd:sequence>
          <xsd:element name="data" nillable="true" type="impl:ArrayOf_xsd_anyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SelectResultSet">
        <xsd:sequence>
          <xsd:element name="columnNames" nillable="true" type="impl:ArrayOf_soapenc_string" />
          <xsd:element name="columnTypes" nillable="true" type="impl:ArrayOf_soapenc_string" />
          <xsd:element name="numCols" type="xsd:int" />
          <xsd:element name="numRows" type="xsd:int" />
          <xsd:element name="records" nillable="true" type="impl:ArrayOf_tns2_DataRecord" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SelectResult">
        <xsd:sequence>
          <xsd:element name="error" nillable="true" type="tns1:ElementError" />
          <xsd:element name="resultset" nillable="true" type="tns1:SelectResultSet" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jupiter.geus.dk/ws_select.1.1">
      <xsd:import namespace="http://jupiter.geus.dk/types" />
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="ArrayOf_soapenc_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_anyType">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="xsd:anyType[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_tns2_DataRecord">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="tns1:DataRecord[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="selectResponse">
    <wsdl:part name="selectReturn" type="tns1:SelectResult" />
  </wsdl:message>
  <wsdl:message name="selectPwRequest">
    <wsdl:part name="in0" type="soapenc:string" />
    <wsdl:part name="in1" type="soapenc:string" />
    <wsdl:part name="in2" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="selectRequest">
    <wsdl:part name="in0" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="selectPwResponse">
    <wsdl:part name="selectPwReturn" type="tns1:SelectResult" />
  </wsdl:message>
  <wsdl:portType name="SelectInterface">
    <wsdl:operation name="select" parameterOrder="in0">
      <wsdl:input name="selectRequest" message="impl:selectRequest" />
      <wsdl:output name="selectResponse" message="impl:selectResponse" />
    </wsdl:operation>
    <wsdl:operation name="selectPw" parameterOrder="in0 in1 in2">
      <wsdl:input name="selectPwRequest" message="impl:selectPwRequest" />
      <wsdl:output name="selectPwResponse" message="impl:selectPwResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="selectSoapBinding" type="impl:SelectInterface">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="select">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="selectRequest">
        <wsdlsoap:body use="encoded" namespace="http://jupiter.geus.dk/ws_select.1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="selectResponse">
        <wsdlsoap:body use="encoded" namespace="http://jupiter.geus.dk/ws_select.1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectPw">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="selectPwRequest">
        <wsdlsoap:body use="encoded" namespace="http://jupiter.geus.dk/ws_select.1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="selectPwResponse">
        <wsdlsoap:body use="encoded" namespace="http://jupiter.geus.dk/ws_select.1.1" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SelectInterfaceService">
    <wsdl:port name="select" binding="impl:selectSoapBinding">
      <wsdlsoap:address location="http://jupiter.geus.dk/ws_select.1.1/services/select" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>