ThirdPartySoftware/DataConnector/DataConnectorUI2/Service References/XAMLServiceReference/XAML.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63407/Services/XAML.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataConnectorWCF" />
  <xs:element name="GetSQLDataXAML">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataConnectorWCF" minOccurs="0" name="Parameters" type="q1:XAMLParameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSQLDataXAMLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataConnectorWCF" minOccurs="0" name="GetSQLDataXAMLResult" nillable="true" type="q2:XAMLResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>