tags/Visual Studio 2008/HydroNumerics/SilverlightApplication1/SilverlightApplication1/Service References/ServiceReference2/WellWrapper3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MikeSheWrapper.Tools" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MikeSheWrapper.Tools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Well">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Terrain" type="xs:double" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Well" nillable="true" type="tns:Well" />
  <xs:complexType name="Intake">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Intake" nillable="true" type="tns:Intake" />
  <xs:complexType name="ArrayOfObservationEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObservationEntry" nillable="true" type="tns:ObservationEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObservationEntry" nillable="true" type="tns:ArrayOfObservationEntry" />
  <xs:complexType name="ObservationEntry">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeSeriesEntry">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ObservationEntry" nillable="true" type="tns:ObservationEntry" />
  <xs:complexType name="TimeSeriesEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesEntry" nillable="true" type="tns:TimeSeriesEntry" />
  <xs:complexType name="ArrayOfScreen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Screen" nillable="true" type="tns:Screen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScreen" nillable="true" type="tns:ArrayOfScreen" />
  <xs:complexType name="Screen">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepthToBottom" type="xs:double" />
      <xs:element minOccurs="0" name="DepthToTop" type="xs:double" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Screen" nillable="true" type="tns:Screen" />
</xs:schema>