SilverlightApplication1/SilverlightApplication1/Service References/ServiceReference2/WellWrapper1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MikeSheWrapper.JupiterTools" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MikeSheWrapper.JupiterTools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49737/WellWrapper.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MikeSheWrapper.Tools" />
  <xs:complexType name="JupiterWell">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/MikeSheWrapper.Tools" base="q1:Well">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChemSamples" nillable="true" type="tns:ArrayOfChemistrySample" />
          <xs:element minOccurs="0" name="IntakesA" nillable="true" type="tns:ArrayOfJupiterIntake" />
          <xs:element minOccurs="0" name="LithSamples" nillable="true" type="tns:ArrayOfLithology" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JupiterWell" nillable="true" type="tns:JupiterWell" />
  <xs:complexType name="ArrayOfChemistrySample">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChemistrySample" nillable="true" type="tns:ChemistrySample" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChemistrySample" nillable="true" type="tns:ArrayOfChemistrySample" />
  <xs:complexType name="ChemistrySample">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="CompoundName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CompoundNo" type="xs:int" />
      <xs:element minOccurs="0" name="SampleDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SampleID" type="xs:int" />
      <xs:element minOccurs="0" name="Unit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChemistrySample" nillable="true" type="tns:ChemistrySample" />
  <xs:complexType name="ArrayOfJupiterIntake">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JupiterIntake" nillable="true" type="tns:JupiterIntake" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJupiterIntake" nillable="true" type="tns:ArrayOfJupiterIntake" />
  <xs:complexType name="JupiterIntake">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/MikeSheWrapper.Tools" base="q2:Intake">
        <xs:sequence>
          <xs:element minOccurs="0" name="ObservationsForWeb" nillable="true" type="q2:ArrayOfObservationEntry" />
          <xs:element minOccurs="0" name="ScreensForWeb" nillable="true" type="q2:ArrayOfScreen" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JupiterIntake" nillable="true" type="tns:JupiterIntake" />
  <xs:complexType name="ArrayOfLithology">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lithology" nillable="true" type="tns:Lithology" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLithology" nillable="true" type="tns:ArrayOfLithology" />
  <xs:complexType name="Lithology">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bottom" type="xs:double" />
      <xs:element minOccurs="0" name="RockSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RockType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Top" type="xs:double" />
      <xs:element minOccurs="0" name="TotalDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lithology" nillable="true" type="tns:Lithology" />
</xs:schema>