SilverlightApplication1/SilverlightApplication1/Service References/ServiceReference2/WellWrapper2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49737/WellWrapper.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MikeSheWrapper.JupiterTools" />
  <xs:element name="GetX">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetXResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MikeSheWrapper.JupiterTools" minOccurs="0" name="GetXResult" nillable="true" type="q1:JupiterWell" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>