trunk/ThirdPartySoftware/DataConnector/DataConnectorUI2/Service References/WKTServiceReference/WKT3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataConnectorWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataConnectorWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63407/Services/WKT.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:63407/Services/WKT.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WKTParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="points" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="querytype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="radius" type="xs:double" />
      <xs:element minOccurs="0" name="reduce" type="xs:double" />
      <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WKTParameters" nillable="true" type="tns:WKTParameters" />
  <xs:complexType name="WKTResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="OutputMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputShapes" nillable="true" type="tns:ArrayOfWKTShape" />
      <xs:element minOccurs="0" name="QueryTime" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WKTResponse" nillable="true" type="tns:WKTResponse" />
  <xs:complexType name="ArrayOfWKTShape">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WKTShape" type="tns:WKTShape" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWKTShape" nillable="true" type="tns:ArrayOfWKTShape" />
  <xs:complexType name="WKTShape">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WKT" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WKTShape" nillable="true" type="tns:WKTShape" />
</xs:schema>