Time/Web/HydroNumerics.Time.Web/Service References/TimeSeriesService/TimeSeriesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydroNumerics.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydroNumerics.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Unit">
    <xs:sequence>
      <xs:element minOccurs="0" name="conversionFactor" type="xs:double" />
      <xs:element minOccurs="0" name="conversionOffset" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dimension" nillable="true" type="tns:Dimension" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
  <xs:complexType name="Dimension">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Dimension" nillable="true" type="tns:Dimension" />
</xs:schema>