Time/Web/HydroNumerics.Time.Web/Service References/TimeSeriesService/TimeSeriesService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydroNumerics.Geometry" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydroNumerics.Geometry" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="XYPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XYPoint" nillable="true" type="tns:XYPoint" />
</xs:schema>