HydroNumerics/Time/Web/HydroNumerics.Time.Web/Service References/TimeSeriesService/TimeSeriesService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49754/TimeSeriesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HydroNumerics.Time.Core" />
  <xs:element name="GetTimeStampSeries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeStampSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HydroNumerics.Time.Core" minOccurs="0" name="GetTimeStampSeriesResult" nillable="true" type="q1:TimestampSeries" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>