trunk/HydroNumerics/Time/Web/HydroNumerics.Time.Web/Service References/TimeSeriesService/TimeSeriesService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydroNumerics.Time.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydroNumerics.Time.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49754/TimeSeriesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HydroNumerics.Core" />
  <xs:complexType name="TimestampSeries">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTimeSeries">
        <xs:sequence>
          <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfTimestampValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimestampSeries" nillable="true" type="tns:TimestampSeries" />
  <xs:complexType name="BaseTimeSeries">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowExtrapolation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="relaxationFactor" type="xs:double" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HydroNumerics.Core" minOccurs="0" name="unit" nillable="true" type="q1:Unit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseTimeSeries" nillable="true" type="tns:BaseTimeSeries" />
  <xs:complexType name="TimespanSeries">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseTimeSeries">
        <xs:sequence>
          <xs:element minOccurs="0" name="items" nillable="true" type="tns:ArrayOfTimespanValue" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimespanSeries" nillable="true" type="tns:TimespanSeries" />
  <xs:complexType name="ArrayOfTimespanValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimespanValue" nillable="true" type="tns:TimespanValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimespanValue" nillable="true" type="tns:ArrayOfTimespanValue" />
  <xs:complexType name="TimespanValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="val" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimespanValue" nillable="true" type="tns:TimespanValue" />
  <xs:complexType name="ArrayOfTimestampValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimestampValue" nillable="true" type="tns:TimestampValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimestampValue" nillable="true" type="tns:ArrayOfTimestampValue" />
  <xs:complexType name="TimestampValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimestampValue" nillable="true" type="tns:TimestampValue" />
</xs:schema>