HydroNumerics/MikeSheTools/MikeUrban/HydroNumerics.MikeSheTools.MikeUrban/Service References/ServiceReference1/LoggerData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hydroinform.cloudapp.net/LoggerData.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" />
  <xs:import schemaLocation="http://hydroinform.cloudapp.net/LoggerData.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HydroInform.WebServices" />
  <xs:import schemaLocation="http://hydroinform.cloudapp.net/LoggerData.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetHeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Latitude" type="xs:double" />
        <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHeightResult" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostNumberBoundary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostalNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostNumberBoundaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="PostNumberBoundaryResult" nillable="true" type="q1:ArrayOfCoordinate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsFromOrbicon">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsFromOrbiconResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetStationsFromOrbiconResult" nillable="true" type="q2:ArrayOfStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PageNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HydroInform.WebServices" minOccurs="0" name="GetConfigResult" nillable="true" type="q3:LoggerPageConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetStationResult" nillable="true" type="q4:Station" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSpanSeriesDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sensorid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSpanSeriesDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTimeSpanSeriesDefinitionResult" nillable="true" type="q5:ArrayOfKeyValueOfintArrayOfDataSegmentSpandhpVgHz7" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSpanSeriesSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UniqueSensorID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="segment" nillable="true" type="q6:DataSegmentSpan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSpanSeriesSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetTimeSpanSeriesSegmentResult" nillable="true" type="q7:ArrayOfTimeSpanValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GridBlockId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridBlockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetGridBlockResult" nillable="true" type="q8:Polygon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridTimeSpanSeriesDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gridid" type="xs:int" />
        <xs:element minOccurs="0" name="gridblockid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridTimeSpanSeriesDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGridTimeSpanSeriesDefinitionResult" nillable="true" type="q9:ArrayOfKeyValueOfintArrayOfDataSegmentSpandhpVgHz7" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridTimeSpanSeriesSegment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gridid" type="xs:int" />
        <xs:element minOccurs="0" name="gridblockid" type="xs:int" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="segment" nillable="true" type="q10:DataSegmentSpan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGridTimeSpanSeriesSegmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetGridTimeSpanSeriesSegmentResult" nillable="true" type="q11:ArrayOfTimeSpanValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesAtlevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UniqueSensorID" type="xs:int" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="segment" nillable="true" type="q12:DataSegment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesAtlevelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetTimeSeriesAtlevelResult" nillable="true" type="q13:ArrayOfTimeStampValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sensorid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTimeSeriesDefinitionResult" nillable="true" type="q14:ArrayOfKeyValueOfintArrayOfKeyValueOfintDataSegmentdhpVgHz7ty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UniqueSensorid" type="xs:int" />
        <xs:element minOccurs="0" name="NumberOfDecimals" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetTimeSeriesResult" nillable="true" type="q15:ArrayOfTimeStampValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRainData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UniqueSensorID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRainDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetRainDataResult" nillable="true" type="q16:ArrayOfTimeSpanValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossSection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCrossSectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetCrossSectionResult" nillable="true" type="q17:CrossSection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetSensorResult" nillable="true" type="q18:Sensor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShapes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shapefileid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShapesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/JacobGudbjerg.CommonCode" minOccurs="0" name="GetShapesResult" nillable="true" type="q19:ShapeFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>