tags/Visual Studio 2008/HydroNumerics/JupiterTools/JupiterPlus/Xchanges.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ChangeItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ChangeItem">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="User" type="xs:string" />
              <xs:element name="Project" type="xs:string" />
              <xs:element name="Time" type="xs:string" />
              <xs:element name="Changes">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Change">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Table" type="xs:string" />
                          <xs:element name="PrimaryKeys">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Key">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute name="Name" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Columns">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Column">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="Name" type="xs:string" use="required" />
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>