trunk/ThirdPartySoftware/DataConnector/DataConnectorUI2/Service References/XAMLServiceReference/XAML2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataConnectorWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataConnectorWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63407/Services/XAML.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:63407/Services/XAML.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="XAMLParameters">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="points" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="querytype" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="radius" type="xs:double" />
      <xs:element minOccurs="0" name="reduce" type="xs:double" />
      <xs:element minOccurs="0" name="table" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XAMLParameters" nillable="true" type="tns:XAMLParameters" />
  <xs:complexType name="XAMLResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="OutputFields" nillable="true" type="tns:ArrayOfXAMLFields" />
      <xs:element minOccurs="0" name="OutputMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryTime" type="xs:double" />
      <xs:element minOccurs="0" name="XAML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalPoints" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XAMLResponse" nillable="true" type="tns:XAMLResponse" />
  <xs:complexType name="ArrayOfXAMLFields">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="XAMLFields" type="tns:XAMLFields" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfXAMLFields" nillable="true" type="tns:ArrayOfXAMLFields" />
  <xs:complexType name="XAMLFields">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Fields" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="XAMLFields" nillable="true" type="tns:XAMLFields" />
</xs:schema>